.main-footer {
  background: #000;
}

.main-footer .footer-img img,
.main-footer .so-me img {
  width: 100%;
  display: block;
}

.so-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.join-community header {
  color: gold;
}

.join-community p {
  color: #888;
}

.join-community footer {
  text-align: right;
}

.join-community footer a {
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}
/* Tablet */
@media (min-width: 800px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 0.2rem 1rem;
  }

  .footer-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .footer-images .so-me {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .footer-images .footer-img img {
    width: 100%;
  }

  .footer-images .so-me img {
    width: 100%;
  }

  .main-footer .join-community {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0.2rem 1rem;
  }

  .footer-images {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-images .so-me {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  .footer-images .footer-img img {
    width: 100%;
  }

  .footer-images .so-me img {
    width: 5vw;
  }

  .main-footer .join-community {
    height: 100%;
  }
}
